## Import Dependencies

In [1]:
# Dependencies
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from sqlalchemy import create_engine
from pprint import pprint

## Create path to website, initialize browser, scrape page

In [2]:
#launches a browser when headless = False
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#sends my browser to this url
url_baaa = 'http://www.baaa-acro.com/statistics/death-rate-per-year'
browser.visit(url_baaa)

In [4]:
# HTML object
html_baaa = browser.html
    
# Parse HTML with Beautiful Soup
soup_baaa = bs(html_baaa, 'html.parser')
#soup_baaa

In [5]:
# Examine the results, then determine element that contains sought info
print(soup_baaa.prettify())

<!DOCTYPE html>
<html class="js" dir="ltr" lang="en" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta charset="utf-8"/>
  <script async="" src="https://www.google-analytics.com/analytics.js">
  </script>
  <script>
   (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");ga("create", "UA-111389693-1", {"cookieDomain":"auto"});ga("set", "anonymizeIp", true);ga("send", "pageview");
  </script>
  <meta content="Drupal 8 (https://www.drupal.org)" name="Generator"/>
  <meta content="width" name="MobileOptimized"/>
  <meta content="true" name="HandheldFriendly"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <style>
   .#back-top { right:40px; }#back-top span#button { background-color: #626883;} #back-top span#button:hover {opacity:1;filter:alpha(opacity = 1);background-color: #626883;}span#link {display : none;}
  </style>
  <link href="/sites/default/files/favicon_0.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
  <title>
   Death Rate per Year | Bureau of Aircraft Accidents Archives
  </title>
  <link href="/core/modules/system/css/components/align.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/fieldgroup.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/container-inline.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/clearfix.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/details.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/hidden.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/item-list.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/js.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/nowrap.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/position-container.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/progress.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/reset-appearance.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/resize.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/sticky-header.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/system-status-counter.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/system-status-report-counters.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/system-status-report-general-info.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/tablesort.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/system/css/components/tree-child.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/core/modules/views/css/views.module.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/modules/calendar/css/calendar.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/modules/calendar/css/calendar_multiday.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/modules/colorbox/styles/default/colorbox_style.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/modules/webform/modules/webform_bootstrap/css/webform_bootstrap.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/modules/ckeditor_accordion/css/ckeditor-accordion.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/modules/better_exposed_filters/css/better_exposed_filters.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/modules/scroll_to_top/css/scroll_to_top.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="//cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.css" media="all" rel="stylesheet"/>
  <link href="/themes/bootstrap/css/3.3.7/overrides.min.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/themes/baaa_acro/css/style.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/themes/baaa_acro/css/responsive.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/themes/baaa_acro/css/font-awesome/css/font-awesome.min.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/themes/baaa_acro/css/ekko-lightbox.css?pxm3pu" media="all" rel="stylesheet"/>
  <link href="/themes/baaa_acro/css/print.css?pxm3pu" media="print" rel="stylesheet"/>
  <!--[if lte IE 8]>
<script src="/core/assets/vendor/html5shiv/html5shiv.min.js?v=3.7.3"></script>
<![endif]-->
 </head>
 <body class="path-statistics has-glyphicons">
  <a class="visually-hidden focusable skip-link" href="#main-content">
   Skip to main content
  </a>
  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
   <div class="logo-and-search container">
    <div class="col-sm-12" role="heading">
     <div class="region region-header">
      <a class="logo navbar-btn pull-left" href="/index.php/" rel="home" title="Home">
       <img alt="Home" src="/sites/default/files/logo.jpg"/>
      </a>
      <a class="name navbar-brand" href="/index.php/" rel="home" title="Home">
       Bureau of Aircraft Accidents Archives
      </a>
      <section class="views-exposed-form bef-exposed-form block block-views block-views-exposed-filter-blocksearch-result-page-1 clearfix" data-drupal-selector="views-exposed-form-search-result-page-1" id="block-exposedformsearch-resultpage-1">
       <form accept-charset="UTF-8" action="/search-results" id="views-exposed-form-search-result-page-1" method="get">
        <div class="form--inline form-inline clearfix">
         <div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-combine js-form-item-combine form-no-label form-group">
          <input class="form-text form-control" data-drupal-selector="edit-combine" id="edit-combine" maxlength="128" name="combine" placeholder="Search" size="30" type="text" value=""/>
         </div>
         <div class="form-actions form-group js-form-wrapper form-wrapper" data-drupal-selector="edit-actions" id="edit-actions">
          <button class="button js-form-submit form-submit btn-primary btn icon-before" data-drupal-selector="edit-submit-search-result" id="edit-submit-search-result" name="" type="submit" value="Search">
           <span aria-hidden="true" class="icon glyphicon glyphicon-search">
           </span>
           Search
          </button>
         </div>
        </div>
       </form>
      </section>
     </div>
    </div>
   </div>
   <header class="navbar navbar-default container" id="navbar" role="banner">
    <div class="navbar-header">
     <button class="navbar-toggle" data-target="#navbar-collapse" data-toggle="collapse" type="button">
      <span class="sr-only">
       Toggle navigation
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="container">
     <div class="navbar-collapse collapse" id="navbar-collapse">
      <div class="region region-navigation-collapsible">
       <nav aria-labelledby="block-baaa-acro-main-menu-menu" id="block-baaa-acro-main-menu" role="navigation">
        <h2 class="sr-only" id="block-baaa-acro-main-menu-menu">
         Main navigation
        </h2>
        <ul class="menu menu--main nav navbar-nav">
         <li>
          <a data-drupal-link-system-path="&lt;front&gt;" href="/">
           Home
          </a>
         </li>
         <li>
          <a data-drupal-link-system-path="crash-archives" href="/crash-archives">
           Accident archives
          </a>
         </li>
         <li>
          <a data-drupal-link-system-path="crash-pictures" href="/crash-pictures">
           Accident pictures
          </a>
         </li>
         <li class="active">
          <a data-drupal-link-system-path="node/219" href="/statistics" rel="" target="_self">
           Statistics
          </a>
         </li>
         <li>
          <a data-drupal-link-system-path="spotting" href="/spotting">
           Spotting
          </a>
         </li>
         <li>
          <a data-drupal-link-system-path="news" href="/news">
           News
          </a>
         </li>
         <li>
          <a data-drupal-link-system-path="events" href="/events">
           Events
          </a>
         </li>
         <li>
          <a data-drupal-link-system-path="travellog" href="/travellog">
           TravelLog
          </a>
         </li>
         <li>
          <a data-drupal-link-system-path="links" href="/links">
           Links
          </a>
         </li>
         <li>
          <a class="contact-menu menu-right" data-drupal-link-system-path="node/6" href="/contact" rel="" target="_self">
           Contact
          </a>
         </li>
         <li>
          <a class="about-menu menu-right" data-drupal-link-system-path="node/39" href="/about-me" rel="" target="_self">
           About
          </a>
         </li>
        </ul>
       </nav>
      </div>
     </div>
     <div class="header-social-link-menu">
      <section class="block block-block-content block-block-content9f263ab9-5dfe-4080-a626-fd59a580409c clearfix" id="block-headersociallinks">
       <div class="field field--name-body field--type-text-with-summary field--label-hidden field--item">
        <div class="social-links">
         <a href="https://twitter.com/baaaacro" target="_blank">
          <img src="/sites/default/files/header-twitter.svg"/>
         </a>
         <a href="https://www.linkedin.com/in/ronanhubert/" target="_blank">
          <img src="/sites/default/files/header-linkedin.svg"/>
         </a>
        </div>
       </div>
      </section>
     </div>
    </div>
   </header>
   <div class="page-title">
    <div class="region region-page-title">
     <h1 class="page-header">
      Death Rate per Year
     </h1>
    </div>
   </div>
   <div class="main-container container js-quickedit-main-content" role="main">
    <div class="row">
     <section class="col-sm-12">
      <div class="highlighted">
       <div class="region region-highlighted">
        <div class="hidden" data-drupal-messages-fallback="">
        </div>
       </div>
      </div>
      <a id="main-content">
      </a>
      <div class="region region-content">
       <div class="views-element-container form-group">
        <div class="pager-style view view-death-rate-per-year view-id-death_rate_per_year view-display-id-page_1 js-view-dom-id-c54ae0c293dda1b120eb084b2759df8982327c26b1d476e8711c4de1eb6df9e1">
         <div class="table-pager-wrapper">
          <div class="table-pager">
           <div class="view-header">
            Viewing
            <span class="dark">
             1 - 100 of 103
            </span>
           </div>
           <nav aria-labelledby="pagination-heading" class="pager-nav text-center" role="navigation">
            <h4 class="visually-hidden" id="pagination-heading">
             Pagination
            </h4>
            <ul class="pagination js-pager__items">
             <li class="pager__item is-active active">
              <a href="?page=0" title="Current page">
               <span class="visually-hidden">
                Current page
               </span>
               1
              </a>
             </li>
             <li class="pager__item">
              <a href="?page=1" title="Go to page 2">
               <span class="visually-hidden">
                Page
               </span>
               2
              </a>
             </li>
             <li class="pager__item pager__item--next">
              <a href="?page=1" rel="next" title="Go to next page">
               <span class="visually-hidden">
                Next page
               </span>
               <span aria-hidden="true">
                ›
               </span>
              </a>
             </li>
             <li class="pager__item pager__item--last">
              <a href="?page=1" rel="last" title="Go to last page">
               <span class="visually-hidden">
                Last page
               </span>
               <span aria-hidden="true">
                Last »
               </span>
              </a>
             </li>
            </ul>
           </nav>
          </div>
         </div>
         <div class="view-content">
          <div class="table-responsive">
           <table class="table table-hover table-striped">
            <thead>
             <tr>
              <th class="views-field views-field-counter" id="view-counter-table-column" scope="col">
               Rank
              </th>
              <th class="views-field views-field-created" id="view-created-table-column" scope="col">
               Year
              </th>
              <th class="views-field views-field-field-final-total-fatalities" id="view-field-final-total-fatalities-table-column" scope="col">
               Fatalities
              </th>
             </tr>
            </thead>
            <tbody>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               1
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1945
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               4654
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               2
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1944
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               4627
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               3
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1943
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               4057
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               4
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1972
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               3313
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               5
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1973
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               2975
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               6
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1985
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               2971
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               7
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1974
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               2780
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               8
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1996
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               2776
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               9
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1969
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               2752
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               10
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1942
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               2728
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               11
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1979
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               2572
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               12
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1977
              </td>
              <td class="views-field views-field-field-final-total-fatalities" headers="view-field-final-total-fatalities-table-column">
               2560
              </td>
             </tr>
             <tr>
              <td class="views-field views-field-counter" headers="view-counter-table-column">
               13
              </td>
              <td class="views-field views-field-created" headers="view-created-table-column">
               1989
              </td>

## Grab data and assign to variables

In [6]:
rankings = []
years = []
fatalitiesT = []

In [7]:
result_rank = soup_baaa.find_all('td', class_='views-field views-field-counter')
# result_rank

In [8]:
for rank in result_rank:
    ranking = rank.text
    rankings.append((ranking))
    
print(rankings)

['1        ', '2        ', '3        ', '4        ', '5        ', '6        ', '7        ', '8        ', '9        ', '10        ', '11        ', '12        ', '13        ', '14        ', '15        ', '16        ', '17        ', '18        ', '19        ', '20        ', '21        ', '22        ', '23        ', '24        ', '25        ', '26        ', '27        ', '28        ', '29        ', '30        ', '31        ', '32        ', '33        ', '34        ', '35        ', '36        ', '37        ', '38        ', '39        ', '40        ', '41        ', '42        ', '43        ', '44        ', '45        ', '46        ', '47        ', '48        ', '49        ', '50        ', '51        ', '52        ', '53        ', '54        ', '55        ', '56        ', '57        ', '58        ', '59        ', '60        ', '61        ', '62        ', '63        ', '64        ', '65        ', '66        ', '67        ', '68        ', '69        ', '70        ', '71        ', '72        ', '73        ', '74        ', '75        ', '76        ', '77        ', '78        ', '79        ', '80        ', '81        ', '82        ', '83        ', '84        ', '85        ', '86        ', '87        ', '88        ', '89        ', '90        ', '91        ', '92        ', '93        ', '94        ', '95        ', '96        ', '97        ', '98        ', '99        ', '100        ']

In [9]:
type(rankings)

list

In [10]:
rankingsS = pd.Series(rankings)
rankingsS

0       1
1       2
2       3
3       4
4       5
         ...
95     96
96     97
97     98
98     99
99    100
Length: 100, dtype: object

## Convert data strings to series

In [11]:
result_year = soup_baaa.find_all('td', class_='views-field views-field-created')

for year in result_year:
    year = year.text
    years.append((year))
    
print(years)

['1945        ', '1944        ', '1943        ', '1972        ', '1973        ', '1985        ', '1974        ', '1996        ', '1969        ', '1942        ', '1979        ', '1977        ', '1989        ', '1962        ', '1968        ', '1976        ', '1967        ', '1980        ', '1988        ', '1951        ', '1992        ', '1952        ', '1971        ', '1965        ', '1966        ', '1978        ', '1970        ', '1950        ', '1987        ', '1946        ', '1960        ', '1994        ', '1948        ', '1953        ', '1961        ', '1982        ', '1991        ', '1975        ', '1983        ', '1947        ', '1949        ', '1963        ', '1995        ', '1958        ', '1964        ', '1997        ', '1993        ', '1986        ', '1998        ', '1957        ', '1990        ', '2000        ', '1981        ', '1954        ', '2001        ', '1959        ', '2005        ', '1956        ', '1955        ', '2002        ', '2014        ', '2006        ', '1984        ', '2003        ', '2010        ', '1999        ', '1941        ', '1940        ', '2009        ', '2018        ', '2007        ', '2015        ', '2008        ', '2011        ', '2012        ', '2004        ', '2016        ', '1938        ', '2019        ', '1939        ', '2013        ', '2017        ', '1936        ', '1937        ', '1935        ', '1929        ', '1933        ', '2020        ', '1934        ', '1930        ', '1931        ', '1928        ', '1932        ', '1927        ', '1926        ', '1922        ', '1920        ', '1923        ', '1921        ', '1919        ']

In [12]:
yearsS = pd.Series(years)
yearsS

0     1945
1     1944
2     1943
3     1972
4     1973
          ...
95    1922
96    1920
97    1923
98    1921
99    1919
Length: 100, dtype: object

In [13]:
result_fatalities = soup_baaa.find_all('td', class_='views-field views-field-field-final-total-fatalities')

for fatality in result_fatalities:
    totalfatalities = fatality.text
    fatalitiesT.append(totalfatalities)

print(fatalitiesT)

['4654        ', '4627        ', '4057        ', '3313        ', '2975        ', '2971        ', '2780        ', '2776        ', '2752        ', '2728        ', '2572        ', '2560        ', '2505        ', '2477        ', '2431        ', '2416        ', '2351        ', '2343        ', '2313        ', '2304        ', '2296        ', '2284        ', '2272        ', '2266        ', '2222        ', '2220        ', '2213        ', '2138        ', '2064        ', '2064        ', '2033        ', '2018        ', '1973        ', '1967        ', '1962        ', '1958        ', '1957        ', '1930        ', '1923        ', '1922        ', '1916        ', '1838        ', '1828        ', '1805        ', '1803        ', '1768        ', '1763        ', '1763        ', '1721        ', '1654        ', '1631        ', '1586        ', '1585        ', '1549        ', '1536        ', '1525        ', '1463        ', '1434        ', '1422        ', '1418        ', '1329        ', '1303        ', '1277        ', '1233        ', '1154        ', '1150        ', '1128        ', '1127        ', '1108        ', '1039        ', '984        ', '904        ', '900        ', '828        ', '800        ', '767        ', '631        ', '618        ', '578        ', '484        ', '453        ', '399        ', '399        ', '334        ', '329        ', '251        ', '201        ', '200        ', '199        ', '187        ', '172        ', '169        ', '120        ', '107        ', '71        ', '69        ', '54        ', '51        ', '42        ', '33        ']

In [14]:
fatalitiesS = pd.Series(fatalitiesT)
fatalitiesS

0     4654
1     4627
2     4057
3     3313
4     2975
          ...
95      69
96      54
97      51
98      42
99      33
Length: 100, dtype: object

In [15]:
browser.quit()

## Create Data frame from series, format data types

In [16]:
df = pd.DataFrame(data = dict(Ranking = rankingsS, Year = yearsS, TotalFatalities = fatalitiesS), index = rankingsS.index)

In [17]:
df.head()

     Ranking          Year TotalFatalities
0  1          1945            4654
1  2          1944            4627
2  3          1943            4057
3  4          1972            3313
4  5          1973            2975

In [18]:
df['Ranking'] = pd.to_numeric(df['Ranking'])
df['TotalFatalities'] = pd.to_numeric(df['TotalFatalities'])

In [19]:
df.dtypes

Ranking             int64
Year               object
TotalFatalities     int64
dtype: object

In [20]:
df['Year'] = pd.to_numeric(df['Year'])
df.dtypes

Ranking            int64
Year               int64
TotalFatalities    int64
dtype: object

# Write 'df' postgres database

In [21]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/crash')

In [22]:
engine.execute("DROP TABLE IF EXISTS fatalities;")

In [23]:
df.to_sql('fatalities', engine)

In [24]:
engine.execute('ALTER TABLE fatalities ADD PRIMARY KEY (index);')

# Write 'df' to json file

In [25]:
df.to_json('fatalities.json', orient='records')

In [26]:
pprint(df)

    Ranking  Year  TotalFatalities
0         1  1945             4654
1         2  1944             4627
2         3  1943             4057
3         4  1972             3313
4         5  1973             2975
..      ...   ...              ...
95       96  1922               69
96       97  1920               54
97       98  1923               51
98       99  1921               42
99      100  1919               33

[100 rows x 3 columns]